---
import Layout from "../layouts/Layout.astro";
// import Header from "../components/Header.astro"
<<<<<<< HEAD
import Nav from "../components/nav-bienvenidos/Nav-bienvenidos.astro";
---

<Layout title="Sigea 2.0 | Bienvenidos">
  <main>
    <Nav />
  </main>
=======
import Nav from "../components/Nav-bienvenidos.astro"
---

<Layout title="bienvenidos">
<main>
    <Nav/>


<!-- Titulo Bienvenida Sigea 2.0 -->
<div class="title-welcome">
    <h2>Bienvenidos a Sigea 2.0</h2>
</main>

<style>
  main{
  background-color: white;
  }
  .title-welcome{
    color: blacks;
    text-align: center;
    text-shadow: 1.3px 1.5px rgba(0, 0, 0, 0.316);
  }
  .title-welcome h2{
    font-size: 5.5rem;

  }

</style>


>>>>>>> de9bd0d7d6299154878f14944e04174839e5f05b
</Layout>

<style>
  h1 {
    color: #0030dc;
  }
</style>
