---
import Layout from "../layouts/Layout.astro";
// import Header from "../components/Header.astro"
import Nav from "../components/nav-bienvenidos/Nav-bienvenidos.astro";
---

<Layout title="Sigea 2.0 | Bienvenidos">
  <main>
    <Nav />
  </main>
</Layout>

<style>
  h1 {
    color: #0030dc;
  }
</style>
