---
import Layout from "../layouts/Layout.astro";
// import Header from "../components/Header.astro"
import Nav from "../components/nav-bienvenidos/Nav-bienvenidos.astro";
---

<Layout title="bienvenidos">
<main>
    <Nav/>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<h1 class="text-center text-4xl font-bold p-20">Bienvenidos a <span class="text-blue-700">Sigea 2.0</span> </h1>

<!-- tabla de estado de los estudiantes -->
<div class="w-3/4 mx-auto">
    <div class="font-bold text-xl text-blue-700">
        <h2>Estado de los estudiantes</h2>
        </div>
    <div class="bg-gray-300 mx-26">
      <div class="mx-4 sm:mx-auto py-8 px-4 sm:px-6 lg:px-8">
        <div class="w-64 p-4">
          <label for="carrera" class="block text-sm font-medium text-gray-700">Materia:</label>
          <select id="carrera" name="carrera" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
            <option value="informatica">Calculo</option>
            <option value="administracion">Programación</option>
            <option value="contaduria">ing. software</option>
            <option value="educacion">Ingles</option>
          </select>
        </div>
        <div class="w-64 p-4">
          <label for="sesion" class="block text-sm font-medium text-gray-700">Sección:</label>
          <select id="sesion" name="sesion" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
            <option value="a">Sección A</option>
            <option value="b">Sección B</option>
            <option value="c">Sección C</option>
          </select>
        </div>
        <div>
          <table class="w-full text-sm text-left rtl:text-right text-gray-400 text-black bg-gray-400">
            <thead class="text-xs text-gray-700 uppercase border-b border-gray-300">
              <tr>
                <th scope="col" class="px-6 py-3">
                  Estudiante
                </th>
                <th scope="col" class="px-6 py-3">
                  Cedula
                </th>
                <th scope="col" class="px-6 py-3">
                  Materia
                </th>
                <th scope="col" class="px-6 py-3">
                  Evaluaciones realizadas
                </th>
                <th scope="col" class="px-6 py-3">
                  Nota ref.
                </th>
                <th scope="col" class="px-6 py-3">
                  % Evaluado
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white border-b border-gray-300 text-black">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap">
                  Maria Garcia
                </th>
                <td class="px-6 py-4">
                  12345678
                </td>
                <td class="px-6 py-4">
                  Programación
                </td>
                <td class="px-6 py-4">
                  5
                </td>
                <td class="px-6 py-4">
                  12
                </td>
                <td class="px-6 py-4">
                  40%
                </td>
              </tr>
              <tr class="bg-white border-b border-gray-300 text-black">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  Jesús Alfonzo
                </th>
                <td class="px-6 py-4">
                  124564321321
                </td>
                <td class="px-6 py-4">
                  Estadística
                </td>
                <td class="px-6 py-4">
                  12
                </td>
                <td class="px-6 py-4">
                  12
                </td>
                <td class="px-6 py-4">
                  40%
                </td>
              </tr>
              <tr class="bg-white bg-white border-b border-gray-300 text-black">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  Pedro
                </th>
                <td class="px-6 py-4">
                  123456789
                </td>
                <td class="px-6 py-4">
                  Calculo
                </td>
                <td class="px-6 py-4">
                  10
                </td>
                <td class="px-6 py-4">
                  10
                </td>
                <td class="px-6 py-4">
                  100%
                </td>
              </tr>
              <tr class="bg-white border-b border-gray-300 text-black">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  Juan
                </th>
                <td class="px-6 py-4">
                  124564321321
                </td>
                <td class="px-6 py-4">
                  Estadística
                </td>
                <td class="px-6 py-4">
                  12
                </td>
                <td class="px-6 py-4">
                  15
                </td>
                <td class="px-6 py-4">
                  80%
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>

    <!-- Tailwind -->
  <script src="https://cdn.tailwindcss.com"></script>

</body>
</html>

</Layout>

<style>
  h1 {
    color: #0030dc;
  }
</style>
