---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/nav-bienvenidos/Nav-bienvenidos-evaluaciones.astro";
---

<Layout title="Sigea 2.0 | Evaluaciones">
  <main>
    <Nav />
  </main>
</Layout>
