---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sigea-2.0">
	<main>
		<!-- Barra con titulo principal de la página -->
		<div class="sigea-title">
			<h1><a href="#">Sigea 2.0</a></h1>
		</div>

		<!-- Linea blanca de separación con el titulo principal -->
		<hr>

		<!-- Barra de navegación -->
		<nav>
			<ul>
				<li><a href="https://webiujocatia.wordpress.com/">Web Iujo</a></li>
				<li><a href="https://aulaccs.iujoac.org.ve/">Aula Virtual</a></li>
				<li><a href="#">Contactanos</a></li>
				<li><img src="https://aulaccs.iujoac.org.ve/pluginfile.php/2/course/section/24/IUJO.gif" alt=""></li>
			</ul>
		</nav>

		<!-- Linea blanca de separación con el Nav -->
		<hr>

		<!-- Titulo principal de Bienvenida -->
		<h2 class="title-2">Conoce de tu Progreso Estudiantil</h2>

		<!-- Subtitulo de Bienvenida -->
		<h3 class="sub-title-2">Sigea 2.0 es el nuevo sistema de notas para los estudiantes del Instituto Universitario Jesús Obrero, <br> Sede Catia
			Basandonos en el antiguo sistema, esta vez, mejorado, estético y a tu mano.</h3>

		<!-- Botón centrado de ingresar -->
		<center><button class="btn btn-blue"><a href="#">Ingresa</a></button></center>

		<hr class="space-dev">

	</main>
	<main class="dev">
		<div class="title-dev">
			<h2>desarrolladores</h2>
		</div>
	</main>
	<main class="cred-dev">
		<div>
			<h2></h2>
		</div>

	</main>
</Layout>

<style>
main{
	background-image: url(../img/iujo-blur3.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed ;
}

.sigea-title{
	text-align: center;
	background-color: white;
	padding: 10px;
	}

hr{
	height: 1px;
	color: white;
}

nav{
    max-width: auto;
    margin: 0 auto;
}

img {
	float: right;
	padding: 18px 10px;
	width: 131px;
}

nav ul{
    list-style: none;
    text-align: left;
    vertical-align: top;
    margin: 0 10px;
}
nav li{
    list-style-type: none;
    display: inline;
}
nav li a{
    font-size: 1em;
    text-decoration: none;
    line-height: 60px;
	padding: 12px;
    color: black;
}
nav li a:hover{
    color: white;
}

.title-2{
	font-size: 70px;
	padding-top: 235px;
	text-align: center;
	color: white;
	text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.253);
}

.sub-title-2{
	color:white;
	text-align: center;
	text-shadow: 0.5px 0.5px black;
}

.btn {
    @apply font-bold py-2 px-4 rounded;
  }

.btn-blue {
	margin-top: 20px;
    @apply bg-blue-500 text-white;
  }

.btn-blue:hover {
    @apply bg-blue-700;
}

.icons-main-phone{
	display: flex;
	justify-content: center;
	margin-top: 325px;
}

.space-dev{
	margin-top:366px;
}

.dev{
	background: rgb(26, 26, 26);
}

.title-dev{
	color: white;
	text-align: center;
	font-size: 75px;
	padding: 35px;
}

.cred-dev{
	background:blue;
}

</style>
