---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav-login.astro"
---

<Layout title="login">
  <main>
    <Nav />

    <div class="container text-center">
      <h2 class="text-2xl mb-4">Iniciar Sesión</h2>
      <form>
        <div class="mb-4">
          <label for="correo" class="block text-gray-700 font-bold mb-2">Introduzca su usuario</label>
          <input class="w-full px-3 py-2 leading-tight border border-gray-300 rounded focus:outline-none focus:border-indigo-500"/>
        </div>

        <button
          type="submit"
          class="bg-blue-500  hover:bg-indigo-700 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          <a href="/bienvenidos">Ingresar</a>
        </button>

      </form>
    </div>
  </main>
  
  <style>
    main {
      background-image: url(../img/b25f2d5b-8c62-425b-8c5d-f2ff690aade8.png);
      background-repeat: no-repeat;
      background-size: cover; 
      background-attachment: fixed;
    }
    .container {
      background-color: white;
      width: 300px;
      margin: 0 auto; /* Centra horizontalmente */
      padding: 20px;
      border-radius: 10px;
      margin-top: 200px; /* Ajusta la distancia desde la parte superior */
    }
  </style>    

  <div class="astro"></div>
    </body>
</Layout>
