---

---

<nav>
    <ul>
      <li><h1><a href="/bienvenidos"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-math-lower" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19 18l-14 -6l14 -6" /></svg> Sigea 2.0 <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-math-greater" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 18l14 -6l-14 -6"/></svg></a></h1></li>
      <li><a href="/materias">Materias</a></li>
      <li><a href="/estudiantes">Estudiantes</a></li>
      <li class="evaluaciones"><a href="/evaluaciones">Evaluaciones</a></li>
      <li><a href="/cierredecurso">Cierre de Curso</a></li>
      <li class="logout">
        <a href="http://localhost:4321/"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" /><path d="M9 12h12l-3 -3" /><path d="M18 15l3 -3" /></svg></a>
      </li>
    </ul>
  </nav>
  <hr>
  
  <style>
    nav {
      background-color: rgb(255, 255, 255);
      max-width: auto;
      margin: 0 auto;
    }
  
    img {
      float: right;
      padding: 16px 5px ;
      width: 120px;
    }
  
    nav ul {
      list-style: none;
      text-align: left;
      vertical-align: top;
      margin: 0 10px;
    }
  
    nav li {
      list-style-type: none;
      display: inline;
    }
  
    nav li h1 {
      list-style-type: none;
      display: inline;
    }
  
    nav li svg {
      list-style-type: none;
      display: inline;
    }
  
  
    nav li a {
      font-size: 16.5px;
      text-decoration: none;
      line-height: 60px;
      padding: 10px;

    }

    .logout{
      float: right;
    }
    nav li a:hover {
      color: #0030dc;
    }

    .evaluaciones{
      color: #0030dc;
    }
  
  </style>
  