---

---

<div class="sigea-title">
  <h1><a href="#">Sigea 2.0</a></h1>
</div>


<style>
.sigea-title {
  padding: 0.4rem;
  text-align: center; 
  background-color: white;
  color: rgb(0, 0, 0);
  margin: 0;
}

.sigea-title a:hover{
  color: #0030DC;
}
</style>
